@import '../mixin.scss';

.feedback {
  .heading {
    h3 {
      margin-bottom: 15px;
      letter-spacing: 0.9px;
      color: #fff;
    }
  }
  .card {
    border-radius: 20px;
    background: #171c26;
    padding: 20px;
    border: none;
    color: #98a2b8;
    .feedback-text {
      text-align: center;
    }
    .workOn {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      p {
        margin: 0 10px 0 0;
        color: #fff;
      }
      .badge {
        border-radius: 5px;
        background: rgba(152, 162, 184, 0.2);
        color: #98a2b8;
        padding: 8px;
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
}
