@import '../mixin.scss';

.panel-sidebar {
  z-index: 99;
  width: 240px;
  height: 100vh;
  background: #171c26;
  padding: 25px 40px 15px 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  @include transition;

  @media screen and (max-width: $breakpoint_tablet) {
    &.show {
      width: 240px;
      top: 76px;
    }

    &.hide {
      width: 0px;
      padding: 0;
      overflow: hidden;
      top: 76px;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 0.3rem;
  }

  .ps-sidebar-root {
    border-color: transparent;
    width: 100%;
    min-width: 100%;
    height: 100%;
  }

  .ps-sidebar-container {
    background-color: transparent;
    overflow: inherit;
    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      margin-left: 10px;
      h5 {
        margin: 0 0 0 10px;
        color: #7b8289;
        word-break: keep-all;
      }
    }
  }

  ul {
    &.main-menu {
      overflow: auto;

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .ps-submenu-root {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 5px;

      &.active-link {
        background-color: #5e196c;
        border-radius: 10px;

        img {
          filter: none;
        }
        p {
          color: white;
        }
      }

      &:hover {
        background-color: #5e196c;
        border-radius: 10px;

        img {
          filter: none;
        }
      }

      &:last-child {
        margin-top: 0;
        margin-bottom: 0;
      }

      .ps-submenu-content {
        margin-top: 16px;

        li {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .ps-menu-button {
        padding-left: 20px;
        padding-right: 20px;
        height: auto;

        span {
          display: flex;
        }

        &:hover {
          background-color: #5e196c;
          border-radius: 10px;
          p {
            color: white;
          }
        }
      }

      .ps-submenu-expand-icon {
        margin-right: 5px;
      }

      a {
        display: flex;
        font-size: 16px;
        align-items: center;
        color: #0a2558;
        padding: 8px;
        font-weight: 500;
        white-space: nowrap;
        @include transition;

        .ps-menu-icon {
          margin-right: 0;
        }

        img {
          width: 16px;
          filter: contrast(0.1);
          margin-right: 10px;
        }
        p {
          margin: 0;
          font-size: 14px;
          color: #7b8289;
        }

        &.ps-menu-icon {
          justify-content: flex-start;
        }
      }
    }
  }
}
