@import './_reset.scss';
@import './comonents/Courses.scss';
@import './comonents/errorPage.scss';
@import './comonents/layout.scss';
@import './comonents/QuizModal.scss';
@import './comonents/sidebars.scss';
@import './comonents/ContentPaper.scss';
@import './comonents/ContentSummary.scss';
@import './comonents/Content.scss';
@import './comonents/Charts.scss';
@import './comonents/Feedback.scss';
@import './comonents/Quiz.scss';
@import './comonents/QuizQuestion.scss';

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: var(--red-color);
  }
}

p {
  line-height: 25px;
  margin: 0 0 10px;

  a {
    color: var(--black-color);
  }
}

a {
  color: var(--black-color);
  text-decoration: none;
}

a {
  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
}
